@import url('main.css');

.event_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

    border: var(--main-border) solid var(--border-color);
    border-radius: 16px;

    .pill {
        border-radius: 16px;
        width: fit-content;
        padding: 4px 10px;

        &.embreve {
            background: #dbeafe;
        }

        &.embreve p {
            color: #1447e6 !important;
        }

        &.acontecendo {
            background: #dbfce7;
        }

        &.acontecendo p {
            color: #008235 !important;
        }

        &.realizado {
            background: #f3f4f6;
        }

        &.realizado p {
            color: #4a5565 !important;
        }
    }

    div {
        display: flex;
        gap: 16px;

        div {
            display: flex;
            align-items: center;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    h3 {
        font-size: 16px;
    }
}