@import url('main.css');

.hover:hover {
    scale: 1.2;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.galeria_header {
    border-bottom: var(--main-border) solid var(--border-color);
    padding: 16px;

    display: flex;
    gap: 16px;

    .icon_bg {
        height: 64px;
        width: 64px;
        background: #f2e8ff;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.galeria_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
    justify-items: center;
    gap: 16px;
    padding: 16px;

    img {
        height: 172px;
        width: 172px;
        border-radius: 16px;
    }

}

.modal_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.863);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#close_modal_btn {
    position: absolute;
    cursor: pointer;
    bottom: 93%;
    left: 97%;
    height: 24px;
}

.img_view {
    height: 80vh;
}