@import url(main.css);

.membro_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: max(fit-content, 250px);
    padding: 16px;

    img {
        border-radius: 50%;
    }

    p.nome {
        font-size: larger;
        font-weight: 500;
    }

    p.especialidade {
        font-size: small;
    }

    p.tempo {
        font-size: x-small;
    }
}

.info_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    div {
        display: flex;
        padding: 16px;
    }

    .info_card_artesoes {
        background-color: #fef3c6;
    }

    .info_card_especialidade {
        background-color: #f3f5ff;
    }

    .a {
        display: flex;
        flex-direction: column;
    }

    .b {
        font-size: xx-large;
    }

    .c {
        font-size: small;
    }
}



.icon_bg {
    height: 64px;
    width: 64px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        filter: invert(100);
    }
}

.bg_orange {
    background-color: #fe9a00;
}

.bg_purple {
    background-color: #ad46ff;
}

.membros_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 16px;
}


.membro_description_window {
    width: 50vw;
    border: 24px;
}

.membro_description {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px;
    gap: 16px;
    background: white;
}


.info_header {
    background: #ffc800;
    background: linear-gradient(170deg, rgba(255, 200, 0, 1) 0%, rgba(253, 29, 29, 1) 63%);
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: end;
    
}

.pill {
    padding: 8px;

    &.trabalho {
        background: #fffbeb;
        border-color: #fee993;
        color: #bb4f00;
    }

    &.instagram {
        background: #ececf0;
        color: #747485;
    }
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.gap_8 {
    gap: 8px;
}

.focus_bg {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}