:root {
    --border-color: #e6e0d4;
    --welcome-backgroud: #fff9eb;
    --main-border: 1px;
    --font-color-1: #7b7b89;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100dvh;
    width: 100%;
}

h1,
h2 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.flex {
    display: flex;
    height: 100%;
}

.grid_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.icon {
    width: 24px;
    height: 24px;
}

.self_center {
    align-items: center;
}

.border {
    border: var(--main-border) solid var(--border-color);
}

.border_round {
    border-radius: 16px;
}

.overflow-y {
    overflow-y: auto;
}

.main_container {
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 80%);
    height: 100dvh;
    width: 100%;
}

.main_container>* {
    min-width: 0;
    min-height: 0;
}

.nav_bar {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border: var(--main-border) solid var(--border-color);
}

.selected {
    background: #030213;

    p {
        color: white !important;
    }

    img {
        filter: invert(100);
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
    gap: 5px;

    img {
        height: 64px;
    }

    div h1 {
        font-size: medium;
    }
}

.section1 {
    background-color: aqua;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2rem;
    height: 100%;
    overflow-y: scroll;
}

.hover:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.category {
    border-radius: 20px;
    width: 100%;
    height: 48px;
    padding: 0 30px 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;

    p {
        color: #030213;
    }
}

.welcome {
    background-color: var(--welcome-backgroud);
    border: var(--main-border) solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: var(--main-border) solid var(--border-color);
    border-radius: 16px;

    div.icon {
        background: #e9ebef;
        width: 60px;
        height: 60px;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 24px;
            width: 24px;
        }
    }
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
}

.about {
    border: var(--main-border) solid var(--border-color);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        color: var(--font-color-1);
    }

    ol {
        display: grid;
        list-style: none;
        counter-reset: meu-contador;
        padding-left: 0;
        gap: 10px;
    }

    ol li {
        counter-increment: meu-contador;
        position: relative;
        padding-left: 35px;
        font-size: 1rem;
        line-height: 30px;
    }

    ol li::before {
        content: counter(meu-contador);
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #fef3c6;
        color: #ba4d00;
        font-weight: bold;
        font-size: 0.9rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contato {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 16px;
    padding: 32px;

    table {

        width: 100%;
        padding: 24px;
        border-radius: 16px;

        tbody tr td {
            padding: 8px;

            p {
                margin-bottom: 8px;
            }

            .form_input {
                width: 100%;
                min-height: 40px;
                padding: 0 8px 0 8px;
                border: var(--main-border) solid var(--border-color);
                border-radius: 16px;
            }

            textarea {
                height: 150px;
            }
        }

        button {
            width: 70%;
            height: 40px;
            background: #030213;
            border-style: none;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: white;
                margin: 0 !important;
            }

        }
    }
}

.info_card {
    width: 100%;
    height: 150px;
    padding: 24px;

    border: var(--main-border) solid var(--border-color);
    border-radius: 16px;

    display: flex;
    align-items: start;
    gap: 16px;

    .icon_bg {
        width: 64px;
        height: 64px;
        border-radius: 16px;
        background-color: #fef3c6;
    }
}

.event_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

    border: var(--main-border) solid var(--border-color);
    border-radius: 16px;

    .pill {
        width: fit-content;
        padding: 4px 10px;
        border-radius: 16px;


        &.embreve {
            background: #dbeafe;
        }

        &.embreve p {
            color: #1447e6 !important;
        }

        &.acontecendo {
            background: #dbfce7;
        }

        &.acontecendo p {
            color: #008235 !important;
        }

        &.realizado {
            background: #f3f4f6;
        }

        &.realizado p {
            color: #4a5565 !important;
        }
    }

    div {
        display: flex;
        gap: 16px;

        div {
            display: flex;
            align-items: center;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

}

.pill {
    display: inline-flex;
    border-radius: 16px;
    width: fit-content;
    padding: 4px 10px;
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

    p {
        color: #858594;
    }

    .galeria_body {
        border: var(--main-border) solid var(--border-color);
        border-radius: 16px;

        .galeria_header {
            border-bottom: var(--main-border) solid var(--border-color);
            padding: 16px;

            display: flex;
            gap: 16px;

            .icon_bg {
                height: 64px;
                width: 64px;
                background: #f2e8ff;
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .galeria_grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            gap: 16px;
            padding: 16px;

            img {
                height: 128px;
                width: 128px;
                border-radius: 16px;
            }

        }
    }
}

iframe {
    max-width: 100%;
    border-radius: 16px;
}
